html {
    overflow: hidden;
}

* {
    user-select: none;
    box-sizing: border-box;
    color: #187DAE;
}

body {
    margin: 0;
    width: 100%;
    height: 100%;
    background: rgba(245, 247, 250, 100%);
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.lyric_box {
    width: 100%;
    height: calc(100vh - 220px);
    background: rgba(202, 237, 248, 70%);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 16%);
    border-radius: 8px;
    position: relative;
    overflow: hidden;
}

.setting {
    width: 45px;
    height: 45px;
    position: absolute;
    top: 8px;
    right: 8px;
    border-radius: 50%;
    background-color: rgba(57, 155, 255, 0.7);
}

.setting .icon {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#lyrics {
    padding: 10px;
    white-space: pre-wrap;
    font-size: 18px;
    line-height: 1.6;
    overflow-y: scroll;
    height: 100%;
    overflow-x: hidden;
    word-wrap: break-word;
    scroll-behavior: smooth;
}

#lyrics::-webkit-scrollbar-track {
    background-color: transparent;
}

#lyrics::-webkit-scrollbar {
    width: 0.5rem;
}

#lyrics::-webkit-scrollbar-thumb {
    background-color: #5e91ff;
    border-radius: 0.25rem;
}

.ctr {
    width: 100%;
    height: 80px;
    display: flex;
    gap: 20px;
}

.ctr .button {
    flex: 1;
    background: rgba(202, 237, 248, 70%);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 16%);
    border-radius: 8px;
    font-size: 35px;
    text-align: center;
    line-height: 80px;
    position: relative;
}

.ctr .button:hover {
    background: rgba(202, 237, 248, 100%);
}

.button {
    display: block;
    white-space: nowrap;
    cursor: pointer;
}

.button.ripple {
    overflow: hidden;
    transition: background-color 0.3s linear, border 0.3s linear;
}

.button.ripple:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    background-image: radial-gradient(circle, #000 10%, rgba(0, 0, 0, 0) 10.01%);
    background-repeat: no-repeat;
    background-position: 50%;
    transform: scale(10);
    opacity: 0;
    transition: transform 0.5s, opacity 1s;
}

.button.ripple:active:after {
    transform: scale(0);
    opacity: 0.2;
    transition: 0s;
}

input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    background: #ddd;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    border-radius: 5px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 20px;
    background: #187DAE;
    cursor: pointer;
    border-radius: 3px;
}

input[type="range"]::-moz-range-thumb {
    width: 10px;
    height: 20px;
    background: #187DAE;
    cursor: pointer;
    border-radius: 3px;
}

input[type="range"]:hover {
    opacity: 1;
}

input[type="range"]:focus {
    outline: none;
}

.enlarge {
    font-size: 20px;
}

#timeContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#currentTime {
    order: 1;
}

#slash {
    order: 2;
    margin: 0 5px;
}

#duration {
    order: 3;
}

.highlight-animation {
    transition: transform 0.5s cubic-bezier(0.42, 0, 0.58, 1);
}

.highlight-animation.highlight {
    transform: scale(1.2);
    margin: 0 10px;
}

.highlight {
    color: #0077ff;
    transform: scale(1.2);
    font-weight: bold;
    transition: transform 0.3s ease-in-out;
    transform-origin: left;
}

#lyrics div.animate-shrink {
    transition: transform 0.5s ease-out;
}

#lyrics div.animate-shrink {
    transform: scale(1) !important;
}

#lyrics div {
    transition: transform 0.5s cubic-bezier(0.42, 0, 0.58, 1) 0s;
    transform-origin: left;
}

#lyrics div {
    margin-bottom: 10px;
}


#lyrics div.highlight {
    color: #0077ff;
    font-weight: bold;
    transition: transform 0.5s cubic-bezier(0.42, 0, 0.58, 1) 0s;
    transform-origin: left;
}

#lyrics div {
    border-radius: 5px;
    padding: 5px;
}

#lyrics div:hover {
    background-color: rgba(255, 255, 255, 0.5);
}
